@mixin flexbox ($flexDirection: row, $justifyContent: initial, $alignContent:initial){
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-content: $alignContent;
}